//- views/404.pug
doctype html
html
  head
    title 404 - Page Non Trouvée
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="/style/404.css")

  body
    h1 404
    p La page que vous recherchez n'existe pas.
    a(href='/') Retour à la liste des produits
