//- views/index.pug
doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="/style/index.css")

  body
    h1 Liste des Produits Disponibles
    ul
      each produit in produits
        li
          a(href=`/product/${produit.id}`)= produit.nom
